<div class="container table-container">
    <h2 class="text-center">Listado de Alumnos</h2>
    <div class="text-center mb-4">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDates" aria-expanded="false" aria-controls="collapseDates">
            Ver Fechas
        </button>
    </div>
    <div id="collapseDates" class="collapse">
        <div class="card card-body">
            <ul>
                <li *ngFor="let fecha of selectedAlumno?.fechas">{{ fecha }}</li>
            </ul>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Correo Electrónico</th>
                <th>Asistencia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of alumnos" (click)="selectAlumno(alumno)">
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellidoPaterno }}</td>
                <td>{{ alumno.apellidoMaterno }}</td>
                <td>{{ alumno.correo }}</td>
                <td>
                    <input type="checkbox" [(ngModel)]="alumno.asistencia" />
                </td>
                <td>
                    <button class="btn btn-info" type="button" (click)="selectAlumno(alumno)" data-toggle="collapse" data-target="#collapseDates">
                        Seleccionar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

