<div class="container table-container">
    <h2 class="text-center">Listado de Alumnos</h2>
    <div class="text-center mb-4">
    </div>
    <div id="collapseDates" class="collapse">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Correo Electrónico</th>
                <th>Asistencia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of alumnos" (click)="selectAlumno(alumno)">
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.apellido_paterno }}</td>
                <td>{{ alumno.apellido_materno }}</td>
                <td>{{ alumno.correo }}</td>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    <button class="btn btn-info" type="button"
                        (click)="selectAlumno(alumno)" data-toggle="collapse"
                        data-target="#collapseDates">
                        Seleccionar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
