<!-- navbar.component.html -->
<nav
    class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
    id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']"><span
                class="flaticon-lotus"></span>One Love Yoga</a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']"
                        routerLinkActive="active">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/clases']"
                        routerLinkActive="active">Clases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/calendario']"
                        routerLinkActive="active">Calendario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']"
                        routerLinkActive="active">Contacto</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!userLoginOn">
                    <a class="nav-link" [routerLink]="['/auth/login']"
                        routerLinkActive="active">
                        <fa-icon [icon]="faUser"></fa-icon>
                        Login
                    </a>
                </li>

                <li class="nav-item" *ngIf="userLoginOn">
                    <a class="nav-link" style="font-size: 12px !important;">
                        <img src="assets/images/avatar-default-icon.png"
                            class="avatar"
                            alt="User Avatar">
                        Bienvenido {{userData?.nombre}}!
                    </a>
                </li>
                <li class="nav-item"
                    *ngIf="userLoginOn && userData?.rol == 'ADMIN'">
                    <a class="nav-link" [routerLink]="['/admin/home-admin']"
                        routerLinkActive="active"
                        style="font-size: 12px !important;">
                        ADMIN
                    </a>
                </li>
                <li class="nav-item"
                    *ngIf="userLoginOn && userData?.rol == 'ALUMNO'">
                    <a class="nav-link" [routerLink]="['/auth/alumno-profile']"
                        routerLinkActive="active"
                        style="font-size: 12px !important;">
                        ALUMNO
                    </a>
                </li>
                <li class="nav-item" *ngIf="userLoginOn">
                    <a class="nav-link" (click)="logout()">
                        <fa-icon [icon]="faRightFromBracket" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- navbar.component.html -->
