<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Administrador - One Love Yoga</title>

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a [routerLink]="['/']"><b>One Love
                        Yoga</b> </a>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Iniciar sesion</p>

                    <form [formGroup]="loginForm">
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="email" id="correo"
                                    placeholder="Email"
                                    formControlName="correo"
                                    class="form-control" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <fa-icon [icon]="faEnvelope"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="text-danger"
                                *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                                <div
                                    *ngIf="correo.errors?.['required']">Debe
                                    ingresar su correo</div>
                                <div
                                    *ngIf="correo.errors?.['email']">
                                    Debe tener un formato de correo
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <input type="password" id="password"
                                    placeholder="Password"
                                    formControlName="password"
                                    class="form-control"
                                    required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <fa-icon [icon]="faLock"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div
                                *ngIf="password.invalid && (password.dirty || password.touched)"
                                class="text-danger">
                                <div *ngIf="password.errors?.['required']">Debe
                                    ingresar su password</div>
                            </div>
                        </div>

                        <div class="row">

                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" (click)="login()"
                                    class="btn btn-primary btn-block">Acceder
                                </button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    <!-- /.social-auth-links -->
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->

        <!-- jQuery -->
        <script src="../../plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script
            src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="../../dist/js/adminlte.min.js"></script>
    </body>
</html>
