<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Administrador - One Love Yoga</title>
        <style>
            .container {
                height: 50vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .login-card-body {
                width: 100%;
                max-width: 400px;
            }
            .password-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        </style>

       
    </head>
    <body>
     
        <h3 class="mb-3 text-center">One Love Yoga</h3>
        <div class="container">
            
            <div class="login-card-body">
                <p class="mb-3 bread text-center">Iniciar sesión</p>
                <form action="#" class="contact-form">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="email" name="email-username" placeholder="Escribe tu correo" autofocus />
                    </div>
                    <div class="mb-3">
                        <div class="password-container">
                            <label for="password" class="form-label mr-3">Password</label>
                            <a href="" class="ml-auto">
                                <small>¿Olvidó su contraseña?</small>
                            </a>
                        </div>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Escribe tu password" autofocus />
                    </div>
                    <div class="mb-3 text-center">
                        <input type="submit" value="Acceder" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
       
    </body>
</html>
