<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Administrador - One Love Yoga</title>
       
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    </head>
    <body >
       <br>
       <br>
       <br>
            <div class="login-logo">
                <a [routerLink]="['/']"><h3  class="mb-3 text-center">One Love
                        Yoga</h3> </a>
            </div>
            <!-- /.login-logo -->
       
            <div class="container-center">
                <div class="login-card-body">
                    <p class="mb-3 bread text-center">Recuperar Contraseña</p>

                    <form [formGroup]="recoverForm" class="contact-form">
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo</label>
                            <div class="input-group">
                                <input type="email" id="correo"
                                    placeholder="correo"
                                    formControlName="correo"
                                    class="form-control" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <fa-icon [icon]="faEnvelope"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="text-danger"
                                *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                                <div *ngIf="correo.errors?.['required']">Debe ingresar su correo</div>
                                <div *ngIf="correo.errors?.['email']">Debe tener un formato de correo</div>
                            </div>
                        </div>
                    
                        <div class="mb-3 text-center">
                            <button type="submit" (click)="recoverPassword()"
                            class="btn btn-primary py-3 px-5">Recuperar Contraseña</button>
                        </div>
                    </form>
                    
                    <!-- /.social-auth-links -->
                </div>
                <!-- /.login-card-body -->
            </div>
       

       
    </body>
</html>
