<section class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
        <div class="col-md-9  text-center">
          <h1 class="mb-3 bread">Contáctanos</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Página</a></span> <span>Contacto</span></p>
        </div>
      </div>
    </div>
  </section>
      

    <section class="ftco-section contact-section">
    <div class="container">
      <div class="row block-9">
                  <div class="col-md-4 contact-info  bg-light p-4">
                      <div class="row">
                          <div class="col-md-12 mb-4">
                <h2 class="h4">Información</h2>
              </div>
              <div class="col-md-12 mb-3">
                <p><span>Dirección:</span> Av. Angamos Oeste 546, Miraflores</p>
              </div>
              <div class="col-md-12 mb-3">
                <p><span>Celular:</span> <a href="tel://1234567920"> 900106254</a></p>
              </div>
              <div class="col-md-12 mb-3">
                <p><span>Correo:</span> <a href="mailto:info@yoursite.com"> loveyoga@gmail.com</a></p>
              </div>
              <div class="col-md-12 mb-3">
                <p><span>Página:</span> <a href="#"> oneloveyoga.com</a></p>
              </div>
                      </div>
                  </div>
                  <div class="col-md-1"></div>
        <div class="col-md-6 ">
          <form action="#" class="contact-form">
              <div class="row">
                  <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="tu nombre">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="tu correo">
                  </div>
                  </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="tu número">
            </div>
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mensaje"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  
  <app-footer></app-footer>

  