
<full-calendar [options]="calendarOptions" ></full-calendar>



















































































































<table>
    <tr>
        <th>Día</th>
        <th>Horario 1</th>
        <th>Horario 2</th>
        <th>Horario 3</th>
    </tr>
    <tr>
        <td>Lunes</td>
        <td class="horario">6:00am - 10:00am<br>Mysore (Pedro)</td>
        <td class="horario">10:00am - 12:00pm<br>Mysore (Saira)</td>
        <td class="horario">6:00pm - 8:30pm<br>(Pedro)</td>
    </tr>
    <tr>
        <td>Martes</td>
        <td class="horario">6:00am - 9:30am<br>Mysore (Pedro)</td>
        <td class="horario">9:30am - 12:00pm<br>Mysore (Saira)</td>
        <td class="horario">6:00pm - 8:30pm<br>(Pedro)</td>
    </tr>
    <tr>
        <td>Miércoles</td>
        <td class="horario">6:00am - 10:00am<br>Mysore (Pedro)</td>
        <td class="horario">10:00am - 12:00pm<br>Mysore (Saira)</td>
        <td class="horario">6:00pm - 8:30pm<br>(Pedro)</td>
    </tr>
    <tr>
        <td>Jueves</td>
        <td class="horario">6:00am - 9:30am<br>Mysore (Pedro)</td>
        <td class="horario">9:30am - 12:00pm<br>Mysore (Saira)</td>
        <td class="horario">6:00pm - 8:30pm<br>(Pedro)</td>
    </tr>
    <tr>
        <td>Viernes</td>
        <td class="horario">6:00am - 10:00am<br>Mysore (Pedro)</td>
        <td class="horario">10:00am - 12:00pm<br>Mysore (Saira)</td>
        <td class="horario">7:00pm<br>Clase Guiada</td>
    </tr>
    <tr>
        <td>Sábado</td>
        <td class="horario">6:00am<br>Clase Guiada (Pedro)</td>
        <td class="horario">8:00am - 10:30am<br>Mysore (Asistentes)</td>
        <td></td>
    </tr>
    <tr>
        <td>Domingo</td>
        <td colspan="3">Cerrado</td>
    </tr>
</table>
