<!-- reserva.component.html -->
<section class="background-section"
    style="background-image: url(assets/images/yoga.jpg);">
    <div class="col-md-6 formulario">
        <form [formGroup]="reservationForm" class="contact-form">
            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control"
                            formControlName="nombre"
                            readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="correo" class="form-label">Apellido
                            Paterno</label>
                        <input type="text" class="form-control"
                            formControlName="apellido_paterno" readonly>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="correo" class="form-label">Apellido
                            Materno</label>
                        <input type="text" class="form-control"
                            formControlName="apellido_materno" readonly>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text" class="form-control"
                            formControlName="correo"
                            readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="startTime" class="form-label">Horario
                            Inicio</label>
                        <input type="text" class="form-control"
                            formControlName="horaInicio"
                            readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="endTime" class="form-label">Horario
                            Fin</label>
                        <input type="text" class="form-control"
                            formControlName="horaFin" readonly>
                    </div>
                </div>
            </div>
        </form>
        <div style="display: flex; justify-content: space-evenly;">
            <div class="mb-3 text-center">
                <input type="submit" value="Reservar"
                    class="btn btn-primary py-3 px-5"
                    (click)="onSubmit()">
            </div>
            <div class="mb-3 text-center">
                <input type="submit" value="Cancelar"
                    class="btn btn-primary py-3 px-5"
                    (click)="cancel()">
            </div>
        </div>
    </div>
</section>
