<section class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
        <div class="col-md-9  text-center">
          <h1 class="mb-3 bread">Somos</h1>
    
        </div>
      </div>
    </div>
  </section>
      
      <section class="ftco-section d-md-flex bg-light">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-10 text-center">
                    <h2>One Love Yoga más que una escuela de yoga, es una familia. Dedicamos nuestra vida para el
                        desarrollo y crecimiento hacia la felicidad en nuestro día a día.

                        Estudiamos y practicamos el método del Ashtanga Yoga a diario por muchos años y ahora lo
                        compartimos.

                        Contamos con un maestro Autorizado Nivel 2 Pedro Rubio (10 años de practica) por la escuela de
                        India de Sharath Jois.</h2>
                  </div>
              </div>
          </div>
  </section>

  <section class="ftco-section">
      <div class="container-fluid">
          <div class="row justify-content-center mb-5">
        <div class="col-md-12 heading-section text-center">
            <h3 class="subheading">Coaches</h3>
          <h2 class="mb-1">Meet Our Yoga Coaches</h2>
        </div>
      </div>
          <div class="row justify-content-center">
            
              <div class="col-lg-3 d-flex ">
                  <div class="coach align-items-stretch ">
                      <div class="img" style="background-image: url(assets/images/trainer-2.jpg);"></div>
                      <div class="text bg-white p-4 ">
                          <span class="subheading">Owner / Head Coach</span>
                          <h3><a href="#">Sarah Henderson</a></h3>
                          <ul class="ftco-social-media d-flex mt-4">
                  <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
                  <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
                  <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
                </ul>
                          <p></p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 d-flex">
                  <div class="coach align-items-stretch">
                      <div class="img" style="background-image: url(assets/images/trainer-3.jpg);"></div>
                      <div class="text bg-white p-4 ">
                          <span class="subheading">Owner / Head Coach</span>
                          <h3><a href="#">George Hump</a></h3>
                          <ul class="ftco-social-media d-flex mt-4">
                  <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
                  <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
                  <li class=""><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
                </ul>
                          <p></p>
                      </div>
                  </div>
              </div>
            
          </div>
      </div>
  </section>

 

  

  
      <section class="ftco-gallery ftco-section bg-light">
      <div class="container">
          <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section  text-center">
          <h3 class="subheading">Gallery</h3>
          <h2 class="mb-1">See the latest photos</h2>
        </div>
      </div>
          <div class="row">
                  <div class="col-md-3 ">
                      <a href="assets/images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/gallery-1.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
                  <div class="col-md-3 ">
                      <a href="assets/images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/gallery-2.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
                  <div class="col-md-3 ">
                      <a href="assets/images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/gallery-3.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
                  <div class="col-md-3 ">
                      <a href="assets/images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(assets/images/gallery-4.jpg);">
                          <div class="icon mb-4 d-flex align-items-center justify-content-center">
                          <span class="icon-instagram"></span>
                      </div>
                      </a>
                  </div>
      </div>
      </div>
  </section>

  <app-footer></app-footer>  

  