<div class="content-wrapper" style="min-height: 831px;">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Bienvenido {{userData?.nombre}}!!</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">Gestion de Usuario</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Visualiza y administra los
                                usuarios del sistema</h6>
                            <p class="card-text">Usa opciones como Agregar nuevo
                                usuario, editar datos de usuario, habilitar,
                                inhabilitar, etc.</p>
                            <a routerLink="../users"
                                class="btn btn-primary">Empezar</a>
                        </div>
                    </div>
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Gestionar Eventos</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Visualiza y administra los
                                horarios de clases</h6>
                            <p class="card-text">Usa funcionalidades como
                                agregar eventos, editar y eliminar.</p>
                            <a routerLink="../events"
                                class="btn btn-primary">Empezar</a>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Gestionar Paquetes</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Visualiza y administra los
                                paquetes</h6>
                            <p class="card-text">Usa funcionalidades como
                                agregar paquetes, editar y eliminar.</p>
                            <a routerLink="../paquetes"
                                class="btn btn-primary">Empezar</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
