<style>
  #my-heading {
            font-size: 4.5em;
            font-weight: 200;
        }

        /* Estilos para dispositivos móviles */
        @media (max-width: 600px) {
            #my-heading {
                font-size: 2.75em; /* Tamaño de h3 */
            }
        }
</style>

<section class="hero-wrap js-fullheight"
  style="background-image: url('assets/images/yoga-banner.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-start">
      <div class="col-md-8 ">
        <h1 id="my-heading">
          Paz = Felicidad
        </h1>
        <h2 class="mb-5">Más que una escuela, una familia</h2>
        <p><a routerLink="/auth/signup"
            class="btn btn-primary p-3 px-4">Registrate Aquí!</a>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-intro"
    style="background-image: url(assets/images/intro.jpg);">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-6">
          <div>
            <h2 class="mb-4">Why You Should Go To Yoga</h2>
          </div>
          <p>Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.</p>
          <ul class="mt-5 do-list">
            <li><a href="#"><span
                  class="ion-ios-checkmark-circle mr-3"></span>Yoga boosts brain
                power</a></li>
            <li><a href="#"><span
                  class="ion-ios-checkmark-circle mr-3"></span>Yoga helps you to
                breathe better</a></li>
            <li><a href="#"><span
                  class="ion-ios-checkmark-circle mr-3"></span>Yoga improves
                your
                strength</a></li>
            <li><a href="#"><span
                  class="ion-ios-checkmark-circle mr-3"></span>Yoga helps you to
                focus</a></li>
            <li><a href="#"><span
                  class="ion-ios-checkmark-circle mr-3"></span>Yoga helps give
                meaning to your day</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center">
          <h3 class="subheading">Siguenos</h3>
          <h2 class="mb-1">Nuestro Facebook</h2>
        </div>
      </div>
      <div class="row">
        <div class="col ">
          <div class="block-7">
            <div class="fb-page"
              data-href="https://www.facebook.com/oneloveyogaperu"
              data-tabs="timeline" data-width
              data-height data-small-header="false"
              data-adapt-container-width="true" data-hide-cover="false"
              data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/oneloveyogaperu"
                class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/oneloveyogaperu">Facebook Page
                  Name</a>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-gallery ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section  text-center">
          <h3 class="subheading">Gallery</h3>
          <h2 class="mb-1">See the latest photos</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 ">
          <a href="assets/images/gallery-1.jpg"
            class="gallery image-popup img d-flex align-items-center"
            style="background-image: url(assets/images/gallery-1.jpg);">
            <div
              class="icon mb-4 d-flex align-items-center justify-content-center">
              <span class="icon-instagram"></span>
            </div>
          </a>
        </div>
        <div class="col-md-3 ">
          <a href="assets/images/gallery-2.jpg"
            class="gallery image-popup img d-flex align-items-center"
            style="background-image: url(assets/images/gallery-2.jpg);">
            <div
              class="icon mb-4 d-flex align-items-center justify-content-center">
              <span class="icon-instagram"></span>
            </div>
          </a>
        </div>
        <div class="col-md-3 ">
          <a href="assests/images/gallery-3.jpg"
            class="gallery image-popup img d-flex align-items-center"
            style="background-image: url(assets/images/gallery-3.jpg);">
            <div
              class="icon mb-4 d-flex align-items-center justify-content-center">
              <span class="icon-instagram"></span>
            </div>
          </a>
        </div>
        <div class="col-md-3 ">
          <a href="assets/images/gallery-4.jpg"
            class="gallery image-popup img d-flex align-items-center"
            style="background-image: url(assets/images/gallery-4.jpg);">
            <div
              class="icon mb-4 d-flex align-items-center justify-content-center">
              <span class="icon-instagram"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-3 col-md-6 mb-5 mb-md-5 ">
          <div class="ftco-footer-widget mb-4">
            <h1 class="logo">Yogalax</h1>
          </div>
        </div>
        <div class="col-lg col-md-6 mb-5 mb-md-5 ">
          <div class="ftco-footer-widget mb-4">
            <h2 class="location">203 Fake St. Mountain View, San Francisco,
              California, USA</h2>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
          <div class="ftco-footer-widget mb-4">
            <ul
              class="ftco-footer-social list-unstyled float-md-left float-lft">
              <li class><a href="#"><span class="icon-twitter"></span></a></li>
              <li class><a href="#"><span class="icon-facebook"></span></a></li>
              <li class><a href="#"><span
                    class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;2024 All rights reserved | This template is made
            with
            <i class="icon-heart" aria-hidden="true"></i> by <a
              href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>
