
<section class="hero-wrap js-fullheight"
  style="background-image: url('assets/images/yoga-banner.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-start">
      <div class="col-md-8 ">
        <h1>
          Paz = Felicidad
        </h1>
        <h2 class="mb-5">Más que una escuela, una familia</h2>
        <p><a routerLink="/auth/signup"
            class="btn btn-primary p-3 px-4">Reserva tu clase de prueba
            aquí!</a></p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-intro"
  style="background-image: url(assets/images/intro.jpg);">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <div>
          <h2 class="mb-4">Why You Should Go To Yoga</h2>
        </div>
        <p>Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the Semantics, a large
          language ocean.</p>
        <ul class="mt-5 do-list">
          <li><a href="#"><span
                class="ion-ios-checkmark-circle mr-3"></span>Yoga boosts brain
              power</a></li>
          <li><a href="#"><span
                class="ion-ios-checkmark-circle mr-3"></span>Yoga helps you to
              breathe better</a></li>
          <li><a href="#"><span
                class="ion-ios-checkmark-circle mr-3"></span>Yoga improves
              your
              strength</a></li>
          <li><a href="#"><span
                class="ion-ios-checkmark-circle mr-3"></span>Yoga helps you to
              focus</a></li>
          <li><a href="#"><span
                class="ion-ios-checkmark-circle mr-3"></span>Yoga helps give
              meaning to your day</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>



<section class="ftco-gallery ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section  text-center">
        <h3 class="subheading">Gallery</h3>
        <h2 class="mb-1">See the latest photos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 ">
        <a href="assets/images/gallery-1.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(assets/images/gallery-1.jpg);">
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ">
        <a href="assets/images/gallery-2.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(assets/images/gallery-2.jpg);">
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ">
        <a href="assests/images/gallery-3.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(assets/images/gallery-3.jpg);">
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ">
        <a href="assets/images/gallery-4.jpg"
          class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(assets/images/gallery-4.jpg);">
          <div
            class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>