<footer class="ftco-footer ftco-section img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5 ">
        <div class="ftco-footer-widget mb-4">
          <h1 class="logo">One Love Yoga</h1>
        </div>
      </div>
      <div class="col-lg col-md-6 mb-5 mb-md-5 ">
        <div class="ftco-footer-widget mb-4">
          <h2 class="location">Av. Angamos Oeste 546,
            Miraflores</h2>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <ul
            class="ftco-footer-social list-unstyled float-md-left float-lft">
            <li class><a href="#"><span class="icon-twitter"></span></a></li>
            <li class><a href="#"><span class="icon-facebook"></span></a></li>
            <li class><a href="#"><span
                  class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;2024 Todos los derechos reservados | Esta plantilla esta hecha 
          <i class="icon-heart" aria-hidden="true"></i> por el <a
            href="https://colorlib.com" target="_blank">Grupo 3</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>

  
