<style>
    table {
        margin: 0 auto; /* Para centrar la tabla */
        border-collapse: collapse;
        width: 50%;
    }
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<body>
    <section class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-9 text-center">
                    <h1 class="mb-3 bread">Clases</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section d-md-flex bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h2>Nuestras clases son personalizadas dentro de un grupo. Funciona muy simple, tu llegas en
                        cualquier momento en el rango de horas del horario. Un profesor te dará las instrucciones paso a
                        paso para enseñarte la secuencia de posturas del Ashtanga Yoga.

                        Entonces tu primera clase si nunca hiciste yoga será de 40-60 minutos. Si ya tienes experiencia
                        en yoga puede que dure 60 minutos.

                        En cada clase se repasa y se aprende algo nuevo de la secuencia.</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center">
              <h3 class="subheading">Tabla de precios</h3>
              <h2 class="mb-1">Sesiones y costos</h2>
            </div>
          </div>
          <div class="row">
              <div class="col-md-4 ">
                <div class="block-7">
                  <div class="text-center">
                  <h2 class="heading">1 mes ilimitado, nuevo</h2>
                  <span class="price"><sup>S/</sup> <span class="number">200</span></span>
                  <span class="excerpt d-block">Por un mes</span>
                  
                  <h3 class="heading-2 my-4">Enjoy All The Features</h3>
                  
                  <ul class="pricing-text mb-5">
                    <li>Onetime Access To All Club</li>
                    <li>Group Trainer</li>
                    <li>Book A Group Class</li>
                    <li>Fitness Orientation</li>
                  </ul>
  
                  <a href="#" class="btn btn-primary d-block px-2 py-4">Empezar</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="block-7">
                  <div class="text-center">
                  <h2 class="heading">Monthly Card</h2>
                  <span class="price"><sup>$</sup> <span class="number">200</span></span>
                  <span class="excerpt d-block">For 1 Month</span>
                  
                  <h3 class="heading-2 my-4">Enjoy All The Features</h3>
                  
                  <ul class="pricing-text mb-5">
                    <li>Group Classes</li>
                    <li>Discuss Fitness Goals</li>
                    <li>Group Trainer</li>
                    <li>Fitness Orientation</li>
                  </ul>
  
                  <a href="#" class="btn btn-primary d-block px-2 py-4">Get Started</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="block-7">
                  <div class="text-center">
                  <h2 class="heading">Weekly Card</h2>
                  <span class="price"><sup>$</sup> <span class="number">85</span></span>
                  <span class="excerpt d-block">For 1 Week</span>
                  
                  <h3 class="heading-2 my-4">Enjoy All The Features</h3>
                  
                  <ul class="pricing-text mb-5">
                    <li>Group Classes</li>
                    <li>Discuss Fitness Goals</li>
                    <li>Group Trainer</li>
                    <li>Fitness Orientation</li>
                  </ul>
  
                  <a href="#" class="btn btn-primary d-block px-2 py-4">Get Started</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>

    <section class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-9  text-center">
                    <h1 class="mb-3 bread">Sesiones y Costos</h1>
                </div>
            </div>
        </div>
    </section>

    <table>
        <tr>
          <th>Sesión</th>
          <th>Costo</th>
        </tr>
        <tr>
          <td>1 mes ilimitado, nuevo</td>
          <td>S/ 200</td>
        </tr>
        <tr>
          <td>1 clase</td>
          <td>S/ 40</td>
        </tr>
        <tr>
          <td>1 semana ilimitado</td>
          <td>S/ 150</td>
        </tr>
        <tr>
          <td>1 mes ilimitado, 6am a 6pm</td>
          <td>S/ 300</td>
        </tr>
        <tr>
          <td>1 mes ilimitado, 10am</td>
          <td>S/ 220</td>
        </tr>
        <tr>
          <td>2 meses ilimitado</td>
          <td>S/ 500</td>
        </tr>
        <tr>
          <td>10 clases en 3 meses</td>
          <td>S/ 250</td>
        </tr>
        <tr>
          <td>12 clases en un mes</td>
          <td>S/ 250</td>
        </tr>
        <tr>
          <td>1 mes jubilados y estudiantes</td>
          <td>S/ 220</td>
        </tr>
      </table>

    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | 2024
                        <i class="icon-heart" aria-hidden="true"></i>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>
