<style>
    table {
        margin: 0 auto; /* Para centrar la tabla */
        border-collapse: collapse;
        width: 50%;
    }
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<body>
    <section class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-3 bread">Clases</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section d-md-flex bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h2>Nuestras clases son personalizadas dentro de un grupo. Funciona muy simple, tu llegas en
                        cualquier momento en el rango de horas del horario. Un profesor te dará las instrucciones paso a
                        paso para enseñarte la secuencia de posturas del Ashtanga Yoga.

                        Entonces tu primera clase si nunca hiciste yoga será de 40-60 minutos. Si ya tienes experiencia
                        en yoga puede que dure 60 minutos.

                        En cada clase se repasa y se aprende algo nuevo de la secuencia.</h2>
                </div>
            </div>
        </div>
    </section>

    <table>
        <tr>
            <th>Día</th>
            <th>Horario 1</th>
            <th>Horario 2</th>
            <th>Horario 3</th>
        </tr>
        <tr>
            <td>Lunes</td>
            <td class="horario">6:00am - 10:00am<br>Mysore (Pedro)</td>
            <td class="horario">10:00am - 12:00pm<br>Mysore (Saira)</td>
            <td class="horario">6:00pm - 8:30pm<br>(Pedro)</td>
        </tr>
        <tr>
            <td>Martes</td>
            <td class="horario">6:00am - 9:30am<br>Mysore (Pedro)</td>
            <td class="horario">9:30am - 12:00pm<br>Mysore (Saira)</td>
            <td class="horario">6:00pm - 8:30pm<br>(Pedro)</td>
        </tr>
        <tr>
            <td>Miércoles</td>
            <td class="horario">6:00am - 10:00am<br>Mysore (Pedro)</td>
            <td class="horario">10:00am - 12:00pm<br>Mysore (Saira)</td>
            <td class="horario">6:00pm - 8:30pm<br>(Pedro)</td>
        </tr>
        <tr>
            <td>Jueves</td>
            <td class="horario">6:00am - 9:30am<br>Mysore (Pedro)</td>
            <td class="horario">9:30am - 12:00pm<br>Mysore (Saira)</td>
            <td class="horario">6:00pm - 8:30pm<br>(Pedro)</td>
        </tr>
        <tr>
            <td>Viernes</td>
            <td class="horario">6:00am - 10:00am<br>Mysore (Pedro)</td>
            <td class="horario">10:00am - 12:00pm<br>Mysore (Saira)</td>
            <td class="horario">7:00pm<br>Clase Guiada</td>
        </tr>
        <tr>
            <td>Sábado</td>
            <td class="horario">6:00am<br>Clase Guiada (Pedro)</td>
            <td class="horario">8:00am - 10:30am<br>Mysore (Asistentes)</td>
            <td></td>
        </tr>
        <tr>
            <td>Domingo</td>
            <td colspan="3">Cerrado</td>
        </tr>
    </table>

    <section class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-3 bread">Sesiones y Costos</h1>
                </div>
            </div>
        </div>
    </section>

    <table>
        <tr>
          <th>Sesión</th>
          <th>Costo</th>
        </tr>
        <tr>
          <td>1 mes ilimitado, nuevo</td>
          <td>S/ 200</td>
        </tr>
        <tr>
          <td>1 clase</td>
          <td>S/ 40</td>
        </tr>
        <tr>
          <td>1 semana ilimitado</td>
          <td>S/ 150</td>
        </tr>
        <tr>
          <td>1 mes ilimitado, 6am a 6pm</td>
          <td>S/ 300</td>
        </tr>
        <tr>
          <td>1 mes ilimitado, 10am</td>
          <td>S/ 220</td>
        </tr>
        <tr>
          <td>2 meses ilimitado</td>
          <td>S/ 500</td>
        </tr>
        <tr>
          <td>10 clases en 3 meses</td>
          <td>S/ 250</td>
        </tr>
        <tr>
          <td>12 clases en un mes</td>
          <td>S/ 250</td>
        </tr>
        <tr>
          <td>1 mes jubilados y estudiantes</td>
          <td>S/ 220</td>
        </tr>
      </table>

    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | 2024
                        <i class="icon-heart" aria-hidden="true"></i>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>