
    <section class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-9 text-center">
                    <h1 class="mb-3 bread">Clases</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section d-md-flex">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h2>Nuestras clases son personalizadas dentro de un grupo. Funciona muy simple, tu llegas en
                        cualquier momento en el rango de horas del horario. Un profesor te dará las instrucciones paso a
                        paso para enseñarte la secuencia de posturas del Ashtanga Yoga.

                        Entonces tu primera clase si nunca hiciste yoga será de 40-60 minutos. Si ya tienes experiencia
                        en yoga puede que dure 60 minutos.

                        En cada clase se repasa y se aprende algo nuevo de la secuencia.</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center">
              <h3 class="subheading">Tabla de precios</h3>
              <h2 class="mb-1">Sesiones y costos</h2>
            </div>
          </div>
          <div class="row">
              <div class="col-md-3 ">
                <div class="block-7">
                  <div class="text-center">
                  <h2 class="heading">1 clase</h2>
                  <span class="price"><sup>S/</sup> <span class="number">40</span></span>
             
                  
                  <h3 class="heading-2 my-4">Enjoy All The Features</h3>
                  
                  <ul class="pricing-text mb-5">
                    <li>Onetime Access To All Club</li>
                    <li>Group Trainer</li>
                    <li>Book A Group Class</li>
                    <li>Fitness Orientation</li>
                  </ul>
  
                  <a href="#" class="btn btn-primary d-block px-2 py-4">Empezar</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 ">
                <div class="block-7">
                  <div class="text-center">
                  <h2 class="heading">1 semana ilimitado</h2>
                  <span class="price"><sup>S/</sup> <span class="number">150</span></span>
             
                  
                  <h3 class="heading-2 my-4">Enjoy All The Features</h3>
                  
                  <ul class="pricing-text mb-5">
                    <li>Group Classes</li>
                    <li>Discuss Fitness Goals</li>
                    <li>Group Trainer</li>
                    <li>Fitness Orientation</li>
                  </ul>
  
                  <a href="#" class="btn btn-primary d-block px-2 py-4">Empezar</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 ">
                <div class="block-7">
                  <div class="text-center">
                  <h2 class="heading">12 clases en un mes</h2>
                  <span class="price"><sup>S/</sup> <span class="number">250</span></span>
                
                  
                  <h3 class="heading-2 my-4">Enjoy All The Features</h3>
                  
                  <ul class="pricing-text mb-5">
                    <li>Group Classes</li>
                    <li>Discuss Fitness Goals</li>
                    <li>Group Trainer</li>
                    <li>Fitness Orientation</li>
                  </ul>
  
                  <a href="#" class="btn btn-primary d-block px-2 py-4">Empezar</a>
                  </div>
                </div>
              </div>
             
              <div class="col-md-3 ">
                <div class="block-7">
                  <div class="text-center">
                  <h2 class="heading">10 clases en tres meses</h2>
                  <span class="price"><sup>S/</sup> <span class="number">250</span></span>
                
                  
                  <h3 class="heading-2 my-4">Enjoy All The Features</h3>
                  
                  <ul class="pricing-text mb-5">
                    <li>Group Classes</li>
                    <li>Discuss Fitness Goals</li>
                    <li>Group Trainer</li>
                    <li>Fitness Orientation</li>
                  </ul>
  
                  <a href="#" class="btn btn-primary d-block px-2 py-4">Empezar</a>
                  </div>
                </div>
              </div>
              
              <div class="col-md-3 ">
                <div class="block-7">
                  <div class="text-center">
                  <h2 class="heading">1 mes limitado, nuevo</h2>
                  <span class="price"><sup>S/</sup> <span class="number">200</span></span>
                
                  
                  <h3 class="heading-2 my-4">Enjoy All The Features</h3>
                  
                  <ul class="pricing-text mb-5">
                    <li>Group Classes</li>
                    <li>Discuss Fitness Goals</li>
                    <li>Group Trainer</li>
                    <li>Fitness Orientation</li>
                  </ul>
  
                  <a href="#" class="btn btn-primary d-block px-2 py-4">Empezar</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3 ">
                <div class="block-7">
                  <div class="text-center">
                  <h2 class="heading">1 mes, 6am a 6pm</h2>
                  <span class="price"><sup>S/</sup> <span class="number">300</span></span>
                
                  
                  <h3 class="heading-2 my-4">Enjoy All The Features</h3>
                  
                  <ul class="pricing-text mb-5">
                    <li>Group Classes</li>
                    <li>Discuss Fitness Goals</li>
                    <li>Group Trainer</li>
                    <li>Fitness Orientation</li>
                  </ul>
  
                  <a href="#" class="btn btn-primary d-block px-2 py-4">Empezar</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 ">
                <div class="block-7">
                  <div class="text-center">
                  <h2 class="heading">1 mes ilimitado, 10am</h2>
                  <span class="price"><sup>S/</sup> <span class="number">220</span></span>
                
                  
                  <h3 class="heading-2 my-4">Enjoy All The Features</h3>
                  
                  <ul class="pricing-text mb-5">
                    <li>Group Classes</li>
                    <li>Discuss Fitness Goals</li>
                    <li>Group Trainer</li>
                    <li>Fitness Orientation</li>
                  </ul>
  
                  <a href="#" class="btn btn-primary d-block px-2 py-4">Empezar</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3 ">
                <div class="block-7">
                  <div class="text-center">
                  <h2 class="heading">2 meses limitado</h2>
                  <span class="price"><sup>S/</sup> <span class="number">500</span></span>
                
                  
                  <h3 class="heading-2 my-4">Enjoy All The Features</h3>
                  
                  <ul class="pricing-text mb-5">
                    <li>Group Classes</li>
                    <li>Discuss Fitness Goals</li>
                    <li>Group Trainer</li>
                    <li>Fitness Orientation</li>
                  </ul>
  
                  <a href="#" class="btn btn-primary d-block px-2 py-4">Empezar</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>

   
      <app-footer></app-footer>
    

   

