<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tu clase de prueba</h5>
                        <p class="card-text" style="font-weight: 600;">Hora: </p><p></p>
                        <p class="card-text" style="font-weight: 600;">Fecha:</p>
                        <a routerLink="/reservationEdit" class="card-link">Editar</a>
                        <a href="#" class="card-link">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>