<body>
    <section class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-3 bread">Somos</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section d-md-flex bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h2>One Love Yoga más que una escuela de yoga, es una familia. Dedicamos nuestra vida para el
                        desarrollo y crecimiento hacia la felicidad en nuestro día a día.

                        Estudiamos y practicamos el método del Ashtanga Yoga a diario por muchos años y ahora lo
                        compartimos.

                        Contamos con un maestro Autorizado Nivel 2 Pedro Rubio (10 años de practica) por la escuela de
                        India de Sharath Jois.</h2>
                </div>
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | 2024 <i class="icon-heart" aria-hidden="true"></i>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

</body>