<body>
    <br>
    <br>
    <br>
    <div class="login-logo">
      <a [routerLink]="['/']"><h1 class="mb-3 text-center">Restablecer la contraseña</h1></a>
    </div>
    <div class="container-center">
      <div class="login-card-body">
        <h3 class="mb-3 bread text-center">Olvidaste tu contraseña?</h3>
  
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="contact-form">
          <div class="mb-3">
            <div class="input-group">
              <input type="password" id="password" placeholder="Nueva contraseña" formControlName="password" class="form-control" required>
            </div>
            <p>8 caracteres como mínimo</p>
            <div class="input-group">
              <input type="password" id="confirmPassword" placeholder="Confirmar nueva contraseña" formControlName="confirmPassword" class="form-control" required>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="mb-3 text-center">
              <button type="submit" class="btn btn-primary py-3 px-5">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
  